.vscode

MDK-ARM/**/*.scvd
MDK-ARM/**/*.bak
MDK-ARM/**/*.ddk
MDK-ARM/**/*.edk
MDK-ARM/**/*.lst
MDK-ARM/**/*.lnp
MDK-ARM/**/*.mpf
MDK-ARM/**/*.mpj
MDK-ARM/**/*.obj
MDK-ARM/**/*.omf
MDK-ARM/**/*.plg
MDK-ARM/**/*.rpt
MDK-ARM/**/*.uvgui.*
MDK-ARM/**/*.tmp
MDK-ARM/**/*.__i
MDK-ARM/**/*.crf
MDK-ARM/**/*.o
MDK-ARM/**/*.d
MDK-ARM/**/*.axf
MDK-ARM/**/*.uvgui
MDK-ARM/**/*.uvgui*
MDK-ARM/**/*.bak
MDK-ARM/**/*.tra
MDK-ARM/**/*.dep
MDK-ARM/**/*.iex
MDK-ARM/**/*.htm
MDK-ARM/**/*.sct
MDK-ARM/**/*.map
MDK-ARM/**/*.hex
